.main {
  min-height: calc(100vh - 200px);
  padding: 2rem 0;
}

.footer {
  background-color: var(--gray-700);
  color: var(--white);
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 3rem;
}
